@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .links{
     @apply relative before:hover:border-red-600 before:border-b  before:absolute  before:h-6 before:w-0 before:transition-all before:duration-300 before:ease-in-out after:absolute after:-top-2 after:-left-2 after:w-4  after:transition-all after:duration-300 after:ease-in-out  hover:before:w-[calc(100%)]  hover:after:w-fit;   
    }
}

@layer base{
    :root {
        --color-background:#ffffff;
        --color-text:#121212;
    }
    :root [data-theme='dark'] {
        --color-background:#100F15;
        --color-text:#ffffff;
    }
}